---
import data from "../data.json";
const cellphones = data.equipos;
const brands = data.marcas;

// Obtener los valores únicos de almacenamiento de los celulares
const colorOptions = [...new Set(cellphones.map((phone) => phone.color))];

const statusOptions = [...new Set(cellphones.map((phone) => phone.estado))];

import FilterIcon from "@iconsAstro/FilterIcon.astro";
import InvoiceIcon from "@iconsAstro/InvoiceIcon.astro";
import Modal from "./Modal.astro";
---

<!-- <Modal modalTitle="Filtros de inventario">
  <button id="btn">Click</button>

  <div class="inventory-filters bg-white">
    <div class="filters flex">
      <div class="brands border-2 border-red-500 flex-1">
        Filtrar por marca
        {
          brands.map((brand) => (
            <button
              class="border-2 border-blue-500 block py-1 px-3 w-full text-left bg-gray-300"
              key={brand}
            >
              {brand}
            </button>
          ))
        }
      </div>

      <div class="color border-2 border-red-500 flex-1">
        Filtrar por color
        {
          colorOptions.map((color) => (
            <button
              class="border-2 border-blue-500 block py-1 px-3 w-full text-left bg-gray-300"
              key={color}
            >
              {color}
            </button>
          ))
        }
      </div>

      <div class="status border-2 border-red-500 flex-1">
        Filtrar por estado
        {
          statusOptions.map((status) => (
            <button
              class="border-2 border-blue-500 block py-1 px-3 w-full text-left bg-gray-300"
              key={status}
            >
              {status}
            </button>
          ))
        }
      </div>
    </div>
  </div>
</Modal> -->
<div class="mt-10 flex justify-between">
  <h3 class="text-2xl font-semibold">Todos los productos</h3>
  <div class="search flex gap-2">
    <input
      type="text"
      placeholder="Buscar producto..."
      class="border-2 border-gray-300 px-5 py-2 rounded-lg"
    />

    <button
      class="border-2 border-gray-300 p-2 rounded-lg ml-2 flex gap-3 cursor-pointer"
    >
      <FilterIcon />
      Filtros
    </button>
  </div>
</div>

<table
  class="inventory-table w-full border-2 border-gray-200 mt-5 border-collapse"
>
  <thead class="bg-gray-200 text-[#8B8B8B] text-left">
    <th class="p-2">ID</th>
    <th class="p-2">Marca</th>
    <th class="p-2">Modelo</th>
    <th class="p-2">Almacenamiento</th>
    <th class="p-2">Color</th>
    <th class="p-2">Precio</th>
    <th class="p-2">Estado</th>
    <th class="p-2"></th>
  </thead>

  <tbody>
    {
      cellphones.map(
        (cellphone, i) =>
          i < 10 && (
            <tr class="text-[#8B8B8B]">
              <td class="p-2 border-2 border-y-gray-300 border-x-0">
                {cellphone.id}
              </td>
              <td class="p-2 border-2 border-y-gray-300 border-x-0">
                {cellphone.marca}
              </td>
              <td class="p-2 border-2 border-y-gray-300 border-x-0">
                {cellphone.modelo}
              </td>
              <td class="p-2 border-2 border-y-gray-300 border-x-0">
                {cellphone.almacenamiento}
              </td>
              <td class="p-2 border-2 border-y-gray-300 border-x-0">
                {cellphone.color}
              </td>
              <td class="p-2 border-2 border-y-gray-300 border-x-0">
                $ {cellphone.precio}
              </td>
              <td class="p-2 border-2 border-y-gray-300 border-x-0">
                {cellphone.estado}
              </td>
              <td class="p-2 border-2 border-y-gray-300 border-x-0">
                <button class="flex gap-2 border-2 border-black p-2 rounded-lg cursor-pointer">
                  <InvoiceIcon />
                </button>
              </td>
            </tr>
          ),
      )
    }
  </tbody>
</table>

<script>
  let a = false;
  function x() {
    a = !a;
    if (a) {
      return console.log("Es tru");
    }

    console.log("Es fols");
  }

  const btn = document.querySelector("#btn")?.addEventListener("click", x);
</script>
