---
const data = [
  {
    id: 0,
    marca: "Pantalón",
    modelo: "Galaxy S23",
    almacenamiento: "128GB",
    color: "Negro",
    precio: 20,
    estado: "Nuevo",
  },
  {
    id: 1,
    marca: "Samsung",
    modelo: "Galaxy S23",
    almacenamiento: "128GB",
    color: "Negro",
    precio: 899,
    estado: "Nuevo",
  },
  {
    id: 2,
    marca: "Apple",
    modelo: "iPhone 14 Pro",
    almacenamiento: "256GB",
    color: "Morado",
    precio: 1099,
    estado: "Nuevo",
  },
  {
    id: 3,
    marca: "Xiaomi",
    modelo: "Redmi Note 12",
    almacenamiento: "128GB",
    color: "Azul",
    precio: 349,
    estado: "Nuevo",
  },
  {
    id: 4,
    marca: "Motorola",
    modelo: "Edge 30",
    almacenamiento: "256GB",
    color: "Blanco",
    precio: 599,
    estado: "Usado",
  },
  {
    id: 5,
    marca: "OnePlus",
    modelo: "10 Pro",
    almacenamiento: "512GB",
    color: "Verde",
    precio: 799,
    estado: "Nuevo",
  },
  {
    id: 6,
    marca: "Samsung",
    modelo: "Galaxy Z Flip 4",
    almacenamiento: "256GB",
    color: "Rosa",
    precio: 999,
    estado: "Nuevo",
  },
  {
    id: 7,
    marca: "Apple",
    modelo: "iPhone 13",
    almacenamiento: "128GB",
    color: "Rojo",
    precio: 799,
    estado: "Usado",
  },
  {
    id: 8,
    marca: "Xiaomi",
    modelo: "Poco X4 Pro",
    almacenamiento: "256GB",
    color: "Negro",
    precio: 429,
    estado: "Nuevo",
  },
  {
    id: 9,
    marca: "Realme",
    modelo: "GT Neo 3",
    almacenamiento: "128GB",
    color: "Amarillo",
    precio: 499,
    estado: "Nuevo",
  },
  {
    id: 10,
    marca: "Google",
    modelo: "Pixel 7",
    almacenamiento: "256GB",
    color: "Blanco",
    precio: 599,
    estado: "Nuevo",
  },
  {
    id: 11,
    marca: "Motorola",
    modelo: "G82",
    almacenamiento: "128GB",
    color: "Azul",
    precio: 299,
    estado: "Usado",
  },
  {
    id: 12,
    marca: "Samsung",
    modelo: "Galaxy A53",
    almacenamiento: "256GB",
    color: "Negro",
    precio: 399,
    estado: "Nuevo",
  },
  {
    id: 13,
    marca: "Apple",
    modelo: "iPhone SE (2022)",
    almacenamiento: "64GB",
    color: "Blanco",
    precio: 429,
    estado: "Nuevo",
  },
  {
    id: 14,
    marca: "Xiaomi",
    modelo: "Mi 11 Lite",
    almacenamiento: "128GB",
    color: "Rosa",
    precio: 329,
    estado: "Usado",
  },
  {
    id: 15,
    marca: "OnePlus",
    modelo: "Nord 2",
    almacenamiento: "256GB",
    color: "Gris",
    precio: 499,
    estado: "Nuevo",
  },
];
import Filterr from "../assets/icons/Filterr.astro";
import Envoice from "../assets/icons/Envoice.astro";
---

<div class="mt-10 flex justify-between">
  <h3 class="text-2xl font-semibold">Todos los productos</h3>
  <div class="search flex gap-2">
    <input
      type="text"
      placeholder="Buscar producto..."
      class="border-2 border-gray-300 px-5 py-2 rounded-lg"
    />

    <button
      class="border-2 border-gray-300 p-2 rounded-lg ml-2 flex gap-3 cursor-pointer"
    >
      <Filterr />
      Filtros
    </button>
  </div>
</div>

<table class="w-full border-2 border-gray-200 mt-5 border-collapse">
  <thead class="bg-gray-200 text-[#8B8B8B] text-left">
    <th class="p-2">ID</th>
    <th class="p-2">Marca</th>
    <th class="p-2">Modelo</th>
    <th class="p-2">Almacenamiento</th>
    <th class="p-2">Color</th>
    <th class="p-2">Precio</th>
    <th class="p-2">Estado</th>
    <th class="p-2"></th>
  </thead>

  <tbody>
    {
      data.map((cell) => (
        <tr class="text-[#8B8B8B]">
          <td class="p-2 border-2 border-y-gray-300 border-x-0">{cell.id}</td>
          <td class="p-2 border-2 border-y-gray-300 border-x-0">
            {cell.marca}
          </td>
          <td class="p-2 border-2 border-y-gray-300 border-x-0">
            {cell.modelo}
          </td>
          <td class="p-2 border-2 border-y-gray-300 border-x-0">
            {cell.almacenamiento}
          </td>
          <td class="p-2 border-2 border-y-gray-300 border-x-0">
            {cell.color}
          </td>
          <td class="p-2 border-2 border-y-gray-300 border-x-0">
            $ {cell.precio}
          </td>
          <td class="p-2 border-2 border-y-gray-300 border-x-0">
            {cell.estado}
          </td>
          <td class="p-2 border-2 border-y-gray-300 border-x-0">
            <button class="flex gap-2 border-2 border-black p-2 rounded-lg cursor-pointer">
              <Envoice />
            </button>
          </td>
        </tr>
      ))
    }
  </tbody>
</table>
